<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/f46b7e11c5.js" crossorigin="anonymous"></script>
    <title>WeatherApp</title>
</head>
<body>


    <!-- HEADER -->
    <nav class=" header navbar navbar-light bg-dark">
        Weather App
       <a class="logout" href="./login.html">Deconnexion</a>
   </nav> 


   <!-- GRID -->
   <div class="container">
       <div class="row">
    <!--CHAMP SAISIE POUR AJOUTER UNE VILLE-->
           <div class="col-12 offset-lg-6 col-lg-6">  <!--met en place grid-->
            <% cities.forEach((city) => {%>
                <% if (city.error === '404') {%>
                    <p>This is an error</p>
                }
            <%}}) %> 
            <form action="/add-city" method="post">
                <div class="input-group mb-3">
                        <input type="text" name='name' value='' class="form-control" placeholder="enter city name" aria-label="city-name" aria-describedby="button-addon2">
                        <button type="submit" class="btn btn btn-warning" id="button-addon2">Add</button>
                </div>
            </form>
                 
           </div>
       </div>
    <!--RESULTATS DE RECHERCHE-->
       <div class="row">       
            <div class="col-12 col-lg-6">     <!--met en place grid-->
                <img src="/images/map.png" class="img-fluid" alt="map">
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="my-2">              <!--utilise la notation bootstrap pour modifier l'apparence du page-->
                    <span>Update Cities</span><a href="/update-data"><i class="fas fa-sync"></i></a> 
                </div>
                <% if (cities.length<1) {%>  
                     No cities found 
                <%}%>
                    <ul class="list-group">     
                <% for (var i=0; i<cities.length; i++) {%> <!--limite duplication du code en mettant une boucle pour data dans des tableau au backend-->
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="cityName">
                        <%= cities[i].name %>
                    </div>
                    <div class="cityIcons">
                        <span><%= cities[i].description %></span>   
                        <img style="width: 30px;" src="http://openweathermap.org/img/wn/<%= cities[i].url%>@2x.png" alt="clouds">
                        <span class="badge rounded-pill bg-warning text-dark"><%= cities[i].maxTemp %></span>
                        <span class="badge rounded-pill bg-secondary text-light"><%= cities[i].minTemp %></span>
                    </div>
                    <div class="supp-img">
                       <a href="/delete-item?name=<%= cities[i].name %>"><button type="button" class="btn btn-link"><i class="far fa-times-circle"></i></button></a> 
                    </div>
                    </li>
                <% } %> 
                  </ul>
                
            </div>
   
       </div>
   </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>